//
//  Config.xcconfig
//  Learning
//
//  Created by Isaac Pachon on 12/03/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SUPABASE_URL = "https://buyvwbxhgakyjynjvxku.supabase.co"

SUPABASE_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ1eXZ3YnhoZ2FreWp5bmp2eGt1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDE3ODcxMTIsImV4cCI6MjA1NzM2MzExMn0.vIlTGs9OBqILE5RYygHtoIMUr--KC6bnsYNfkLCL05s

